.menu-wrapper {
  width: 300px;
  height: auto;
  overflow: hidden;
  background: #2a394f;
  color: #fff;
  position: relative;
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid transparent;
    -webkit-transition: text-indent 0.15s, height 0.3s;
    -moz-transition:    text-indent 0.15s, height 0.3s;
    -o-transition:      text-indent 0.15s, height 0.3s;
    -ms-transition:     text-indent 0.15s, height 0.3s;
    transition:         text-indent 0.15s, height 0.3s;
    position: relative;
    .icons{
      display: flex;
    }
    .toggle-icon{
      cursor: pointer;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition:    all 0.2s ease-out;
      -o-transition:      all 0.2s ease-out;
      -ms-transition:     all 0.2s ease-out;
      transition:         all 0.2s ease-out;
      border-radius: 50%;
      &:hover{

        background-color: hsla(0,0%,100%,.15);
      }
    }
    h2 {
      color: #eff4fa;
      font-size: 13px;
      font-weight: 500;
      margin-left: 15px;
      letter-spacing: 1px;
      flex: 2;
    }
    &:hover {
      background: #212e41;
      text-indent: 4px;
    }
    &:not(:last-child):hover {
      border-bottom: 2px solid #355789;
    }
  }
}
