.dropdown-menu{
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  &:before{
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    right: 18px;
    margin-left: -10px;
    margin-top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #15a4fa;
  }
  .dropdown-items{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        background: #15a4fa;
        padding: 25px 0;
        text-indent: 25px;
        color: #eff4fa;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 500;
        -webkit-transition: box-shadow .2s linear,text-indent .3s linear;
        -moz-transition:    box-shadow .2s linear,text-indent .3s linear;
        -o-transition:      box-shadow .2s linear,text-indent .3s linear;
        -ms-transition:     box-shadow .2s linear,text-indent .3s linear;
        transition:         box-shadow .2s linear,text-indent .3s linear;
        cursor: pointer;
        &:hover{
          background: #0c93e4;
          box-shadow: 3px 0 #126CA1 inset;
          text-indent: 31px;
        }
        span{
          margin-right: 15px;
          vertical-align: middle;
        }
      }
    }
  }
}